/build/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
/SCONTO_SVU_Analyse_Traceable_Execution_Rupture_Stocks_FINAL(2).docx
/sources/model/database/
/sources/model/SCONTO_SVU_RESULTS_*.xlsx
/sources/model/SCONTO_SVU_ABOX_*.ttl
